{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Note{% endblock %}</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'note/styles/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2" id="main-navbar">
        <a href="{% url 'note:index' %}" class="navbar-brand">Note</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button id="index" class="nav-link btn">Notes</button>
                    </li>
                    <li class="nav-item">
                        <button id="archived-notes" class="nav-link btn">Archived</button>
                    </li>
                    <li class="nav-item">
                        <button id="labels-notes" class="nav-link btn">Labels</button>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'note:logout' %}" class="nav-link">Logout</a>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'note:login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'note:register' %}" class="nav-link">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block main %}
        {% endblock %}
    </main>

    <script src="{% static 'note/scripts/main.js' %}" type="module"></script>

    <!-- Third party scripts-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</body>
</html>